.about-top {
  display: flex;
  height: calc(400px + 10dvh);
  background-image:
    linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 1)),
    url("../imgs/about.avif");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding-inline: 1.125rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-size: 3.25rem;
  color: white;
}

.chef-section {
  background: linear-gradient(135deg,
      #f5f0e6 0%,
      var(--brand-color) 50%,
      #5c4b2d 100%);
}

.chef-section .container {
  min-height: 600px;
}

.chef-image {
  flex: 1;
  position: relative;
  overflow-y: hidden;
}

.chef-quote {
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  color: white;
  max-width: clamp(1px, 90%, 600px);
  background: rgba(0, 0, 0, 0.6);
  padding-inline: 0.875rem;
  padding-block: 0.5rem;
}

.chef-quote-mark {
  font-size: 3rem;
  line-height: 1;
}

.chef-info {
  flex: 1;
  background-color: white;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stat-number {
  font-size: 2.5rem;
  font-weight: bold;
}

@media (width <=992px) {
  .chef-section .container {
    flex-direction: column;
  }

  .chef-image {
    max-height: 40rem;
  }

  .chef-info {
    padding-inline: 1.125rem;
  }
}
